<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<!--<div class="card">-->
<!--    <img src="https://placehold.co/300">-->
<!--    <div>-->
<!--        <h4 th:text="${items.get(0).title}">Trousers</h4>-->
<!--&lt;!&ndash;        <h4 th:text="${items[0].title}">Trousers</h4>&ndash;&gt;-->
<!--        <p th:text="${items.get(0).price}">7k</p>-->
<!--    </div>-->
<!--</div >-->
<!--<div class="card">-->
<!--    <img src="https://placehold.co/300">-->
<!--    <div>-->
<!--        <h4 th:text="${itmes[1].title"></h4>-->
<!--        <p>7k</p>-->
<!--    </div>-->
<!--</div >-->

<div class="card" th:each="i:${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${i.title}">Trousers</h4>
<!--        <h4 th:text="${items[0].title}">Trousers</h4>-->
        <p th:text="${i.price}">7k</p>
    </div>
</div>
</body>
</html>